<?xml version="1.0" encoding="utf-8"?>
<!-- 
     Примечание. В качестве альтернативы редактирования этого файла можно воспользоваться 
    инструментом веб-администрирования для настройки параметров приложения. Воспользуйтесь
    параметром Веб-сайт->Конфигурация Asp.Net в Visual Studio.
    Полный список параметров и комментариев можно найти в файле 
    machine.config.comments, обычно расположенном в папке 
    \Windows\Microsoft.Net\Framework\vx.x\Config 
-->
<configuration>


    <appSettings />
    <connectionStrings>
        <add name="ConnectionString" connectionString="Data Source=(LocalDB)\v11.0;AttachDbFilename=|DataDirectory|\Database.mdf;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <system.web>
        <!-- 
            Значение параметра компиляции debug="true" означает, что в откомпилированную 
            страницу будут вставлены отладочные символы. Так как этот 
            параметр влияет на производительность, следует задавать для него 
            значение True только на этапе разработки.
        -->
        <compilation debug="true">

        </compilation>
        <!--
            Раздел <authentication> позволяет настроить параметры 
            режима проверки подлинности, используемого ASP.NET для проверки 
            подлинности пользователя, запрашивающего разрешение на доступ. 
        -->
        <authentication mode="Windows" />
        <!--
            Раздел <customErrors> служит для настройки действий, 
            выполняемых при возникновении необрабатываемой 
            ошибки во время выполнения запроса. В частности, 
            разработчик может задать HTML-страницы ошибок 
            для отображения вместо трассировки ошибки в стеке.

        <customErrors mode="RemoteOnly" defaultRedirect="GenericErrorPage.htm">
            <error statusCode="403" redirect="NoAccess.htm" />
            <error statusCode="404" redirect="FileNotFound.htm" />
        </customErrors>
        -->



    </system.web>

</configuration>
